gunicorn            == 20.1.0
muffin              >= 0.87.3
uvicorn[standard]   == 0.18.3
wheel               == 0.37.1

ipython             == 8.5.0; python_version >= '3.8'
ipython             == 7.31.1; python_version < '3.8'
psycopg2-binary     == 2.9.4
