wheel               == 0.37.1
gunicorn            == 20.1.0
uvicorn[standard]   == 0.17.6
muffin              >= 0.87.0

ipython             == 8.3.0; python_version >= '3.8'
ipython             == 7.31.1; python_version < '3.8'
psycopg2-binary     == 2.9.3
